<div>
	<h2 th:text="${user.name}"></h2>
	
	<form th:action="@{/user/profile}" method="post">
	
	<input name= "id" th:value=${user.id} hidden= "hidden">
	
	<div class="form-group">
	    <label for="exampleInputEmail1">Username</label>
	    <input  th:value= "${user.username}" class="form-control" id="exampleInputEmail1" >
	    
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Name</label>
	    <input  th:value= "${user.name}" name="name" class="form-control" id="exampleInputEmail1"  >
	    
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email"  th:value= "${user.email}" name="email" class="form-control" id="exampleInputEmail1" >
	    
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input th:value= "${user.password}" class="form-control" id="exampleInputPassword1" >
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
	
</div>