
<head> 

  <meta charset="utf-8"> 
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="preconnect" th:href="@{https://fonts.gstatic.com}">
  <link th:href="@{https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap}" rel="stylesheet">

  <link rel="icon" th:href="@{images\leagueoflegends_94793.ico}">

  <title>
    League Of Legends Heroes   
  </title> 
  
  <link rel="stylesheet" th:href= "@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}">   
  <link rel="stylesheet" th:href= "@{https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css}"> 
  
</head> 