<nav class="navbar navbar-expand-lg navbar-light bg-light nav-margin">
	
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li sec:authorize="isAnonymous()" class="nav-item active">
        <a class="nav-link" th:href="@{/user/login}">Sign up</a>
      </li>
      <li sec:authorize="isAuthenticated" class="nav-item">
        <a class="nav-link" th:href="@{/user/profile}">Profile</a>
      </li>
      <li sec:authorize="isAuthenticated" class="nav-item">
        <a class="nav-link" th:href="@{/user/logout}">Logout</a>
      </li>
    </ul>
    <form sec:authorize="isAuthenticated" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>